/* App.css */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Set default styles for the body */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  /* You can change this if needed */
  overflow: hidden;
  /* Prevent scrollbars if not needed */
}

.btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

/* Optional: Set styles for the App container */
.App {
  height: 100vh;
  width: 100%;
}