.game-screen {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;

}


.bg {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 10%;
    transform: translate(-50%);
    width: 80vw;
    height: 80vh;
    object-fit: cover;
    animation: zoomInOut 70s ease-in-out infinite;

}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.logo {
    position: fixed;
    bottom: 20px;
    height: 200px;
    left: 20px;
    z-index: 2;
}

.character {
    height: 90vh;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translateX(-50%);
    z-index: 2;
    animation: moveXBackAndForth 120s linear infinite;

}

.background-div {
    display: flex;
    flex-direction: column;
    z-index: 33;
    position: absolute;
    top: 40px;
    left: 140px;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    animation: moveInFromLeft 1s ease-in-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pricedown', sans-serif;
    color: #00ff00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

@keyframes moveInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.title {
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@keyframes moveXBackAndForth {
    0% {
        transform: translateX(0);
        /* Start position */
    }

    50% {
        transform: translateX(-50%)
            /* Move to the right */
    }

    100% {
        transform: translateX(0);
        /* Move back to the starting position */
    }
}